<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcme.everybarataa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_hascom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".hiliwinawTabClass.Hiliwinaw"
            android:label="@string/yegziabher_hiliwuna"
            android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity
            android:name=".hiliwinawTabClass.Hiliwinaw1"
            android:label="@string/yegziabher_hiliwuna"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".hiliwinawTabClass.Hiliwinaw2"
            android:label="@string/yegziabher_hiliwuna"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".hiliwinawTabClass.Hiliwinaw3"
            android:label="@string/yegziabher_hiliwuna"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".hiliwinawTabClass.Hiliwinaw4"
            android:label="@string/yegziabher_hiliwuna"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".hiliwinawTabClass.Hiliwinaw5"
            android:label="@string/yegziabher_hiliwuna"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".yehiwotTiyakeTabClass.YehiwotTiyake"
            android:label="@string/yehiwot_tiyakewoch"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".yehiwotTiyakeTabClass.YehiwotTiyake1"
            android:label="@string/yehiwot_tiyakewoch"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".yehiwotTiyakeTabClass.YehiwotTiyake2"
            android:label="@string/yehiwot_tiyakewoch"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".fikirinawesibTabClass.FikirnaWesib"
            android:label="@string/wesibina_yefikir_ginignunet"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".fikirinawesibTabClass.FikirnaWesib5"
            android:label="@string/wesibina_yefikir_ginignunet"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".fikirinawesibTabClass.FikirnaWesib7"
            android:label="@string/wesibina_yefikir_ginignunet"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".fikirinawesibTabClass.FikirnaWesib10"
            android:label="@string/wesibina_yefikir_ginignunet"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".egziabherinMawekTabclass.EgziabherinMawek"
            android:label="@string/egziabherin_mawek"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".egziabherinMawekTabclass.EgziabherinMawek1"
            android:label="@string/egziabherin_mawek"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".egziabherinMawekTabclass.EgziabherinMawek2"
            android:label="@string/egziabherin_mawek"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".egziabherinMawekTabclass.EgziabherinMawek3"
            android:label="@string/egziabherin_mawek"
            android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity android:name=".WebView"
            >

        </activity>
        <activity android:name=".AboutUs"
            android:label="ስለ እኛ"
            android:parentActivityName=".MainActivity"

            >

        </activity>
        <activity android:name=".Feedback"
            android:label="አስተያየት"
            android:parentActivityName=".MainActivity"

            >

        </activity>
        <activity android:name=".TeleEshtaol"
            android:parentActivityName=".MainActivity"
            android:label="ቴል_ኤሽታኦል">

        </activity>
        <activity android:name=".ActivityFilmoch.Thirty5"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty6"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty7"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty8"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty9"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Fourty"
            android:label="ፊልሞች ይመልከቱ">
        </activity>

    </application>

</manifest>